#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-bar{
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title{
    font-family: lobster;
    font-size: 1.8em;
    color: #94D75B;
}

#hamburger{

}





#my-drugs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
#search-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
    height: 100%;
    z-index: 1;
}

#search-form{
    width: 60%;
    border-color: black;
}

#serch-results{
    width: 100%;
    display: flex;
    align-items: center;
}

#search-result{
    margin:0;
    width: 100%;
    border-color:#CFCBCB;
    background-color: #DAD5D2;
    padding: 0.5rem;
    font-size: 0.6em;
}