body{
    height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: rgb(31, 30, 30);
    overflow: hidden;
}

#main-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}


/* NAV BAR */

#nav-bar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#nav-bar{
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:4% 5%;
    top:0;
    left:0;
    z-index: 100
}

.navbar-menu-container{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height:100%;
    width: 40%;
    background-color: white;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index:200
}

.navbar-menu-container a{
    text-decoration: none;
    margin: 8% 0;
    padding: 0 5% ;
    color: rgb(51, 51, 51);
}

.navbar-menu-container a:hover{
    color: #94D75B;
}

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top:0;
    right: 0;
    z-index: 150;
}

#title{
    font-family: lobster;
    font-size: 2em;
    color: #94D75B;
    text-decoration: none;
}

.fa-bars{
    font-size: 2em;
    color: #94D75B;
}


/* FOOTER */

#footer-container{
    display: flex;
    position: fixed;
    align-content: center;
    justify-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height:13%;
    background: linear-gradient(to left, #36d1dc, #5b86e5);
    border-radius: 0%;
    color:white ;
}

.footer-subcontainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    height: 100%;
}

.footer-subcontainer a{
    text-decoration: none;
    color:white;
    font-size: 0.8em;
}

.footer-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}

.footer-option img{
    margin-top: 5%;
    width: 50%;
    height: 50%;
}

.footer-option p{
    margin: 7% 0 5% 0;
}
 

/* LANDING PAGE */

#landing-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#landing-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 100
}

#slogan-container{
    display: flex;
    align-items: flex-end;
    height: 26%;
    color: #43AB5F;
    font-size: 1.3em;
    text-align: center; 
}

.sign-pages{
    display: flex;
    width: 85%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
}

#sign-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 65%;
}

#sign-btn-container button{
    color:white;
    font-weight: 700;
    background: #FF886B;
    border-color: #FF886B;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);  
    padding: 0.7em;
    width: 10em;
    margin-top: 8%;
}

#sign-btn-container button a{
    color:white;
    text-decoration: none; 
}

.main-image-container{
    overflow: hidden;  
    width: 135%;
}

.main-image-container img {
    position: absolute;
    width: 135%;
    left: -17%;
    top: 40%; 
}


/* HOME PAGE */

#home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* WEATHER */

#weather-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    background:#c8e6d2;

    color: white
}

.weather-subcontainer{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.weather-info-details{
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.weather-image-container{
    display:flex;
    width: 30%;
}

.weather-image{
    width: 80%;
}

.weather-image img{
    width: 50%;
    align-content: flex-end;
}

.weather-info-details h3{
    font-size: 1em;
    margin: 5% 0 5% 0;
}

.weather-info-details h1{
    font-size: 2.5em;
    margin: 5% 0 5% 0;
}

.weather-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.weather-details p{
    margin: 5% 0 10% 0;
    font-size: 0.9em;
}

.weather-details p[name='title']{
    margin-bottom: 0;
    font-weight: 800;
}


/* AIR QUALITY */

.air-quality-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2% 0 2% 0;
}

.air-quality-container :first-child{
    text-align: left;
    width: 85%;
}

.air-quality-container p{
    font-size: 0.9em;
    margin: 0;
}

.air-quality-container h1{
    font-size: 1.9em;
    margin: 0;
}


/* AIR POLLUTANTS  */

.air-pollutans-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 2% 0 2% 0;
}

.air-pollutans-container p{
    font-size: 0.9em;
    text-align: left;
    width: 100%;
    margin: 0;
}

.air-pollutans-subcontainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4%;
}

.air-pollutans-subcontainer div{
    display: flex;
    align-items: center;
}

.air-pollutans-subcontainer div p{
  text-align: center;
  margin-left: 3%;
}

.air-pollutans-subcontainer div span{
    height: 12px;
    width: 12px;
    border-radius: 100%;
  }

.span-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}


/* POLLEN */

.pollen-count-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% 0 0% 0;
}

.pollen-count-subcontainer {
    /* background: linear-gradient(to left, #36d1dc, hsl(221, 73%, 63%));  */
    background: #c8e6d2;
    padding: 5% 10% 5% 10%;
}

.pollen-count-container p{
    font-size: 0.9em;
    text-align: left;
    margin:  0 0 2% 8%;
}

.plant-container{
    display:flex;
    align-items: center;
    margin: 3% 0;
}

.plant-container div{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-left: 3%;
   width: 100%;
}

.pollen-count-subcontainer div p{
    width: 35%;
    color: white;
    font-size: 1.1em;
    margin: 0;
}

.plant-container div span{
    height: 8px;
    width: 20px;
    border-radius: 30%;
}






.sign-form{
    display: flex;
    width: 60%;
    height:100%;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 300;
    font-size: 0.8em;
}

.sign-form input {
    background: #FFFEFE;
    padding: 3%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-form label {
    margin-top: 7%;
}


.sign-form .button[type='submit']{
    color:white;
    font-weight: 700;
    background: #FF886B;
    border-color: #FF886B;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);  
    padding: 0.7em;
    width: 10em;
    margin-top: 10%;   
}


/* ASTHMA CONTROL TEST */

#atc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}

#question-container{
    display: flex;
    align-items: flex-end;
    height: 15vh;
}

#question{
    text-align: center;
}

#question span{
    color:#040357;
    font-size: 2.5em;
    font-weight: 700;
}

#options{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 5%;
}

.option-btn{
    color:white;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(to left, #24c6dc, #514a9d);
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);  
    padding: 0.7em;
    width: 100%;
    margin-top: 10%;   
}

#atc-result-container{
    display: flex;
    flex-direction: column-reverse;
    height: 40%;
}

#atc-result-card{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: flex-end;
    width: 65%;
    padding: 6%;
    color:white;
    background-color: rgb(172, 171, 171);
    border-radius: 5%;
}

.result-title{
    font-size: 1.6em;
    margin-bottom: 0;
}

.result{
    font-size: 0.9em;
}


/* MY DRUGS PAGE */

#my-drugs-container{
    display: flex;
    width: 85%;
    height: 100%;
    flex-direction: column;
    align-items: center;   
    overflow: scroll;  
}

#drugs-container{
    display:flex;
    width: 85%;
    flex-direction: column;   
}

.drug-type{
    font-size: 0.75em;
    margin-bottom: 0;
}

.drug-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    padding: 4%;
    background: linear-gradient(to left, #36d1dc, hsl(221, 73%, 63%)); 
    color: white;
    border-radius: 3%;
    overflow: scroll;
}

.drug-info{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
}

.drug-info div{
    display: flex;
    justify-content: space-between;
}

.medicine-name-container{ 
    width: 85%;
}
.medicine-name-container h1{
    font-size: 0.9em;
    margin: 0;
}

.arrow-container{
    width: 5%;
    align-items: flex-start;
}

.arrow-container img{
    width: 100%;
}

.drug-info p{
    font-size: 0.75em;
    margin: 2% 0;
}

.drug-info h3{
    font-size: 0.97em;
    margin: 0;
    text-align: center;
}

.more-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to left, #36d1dc, hsl(221, 73%, 63%)); 
}

.more-info div{
    display: flex;
    justify-content: flex-end; 
}

.logos-container{
    display: flex;
    justify-items: flex-end;
    align-items: center;
}

.logo{
    width: 8%;
    height: 8%;
    padding: 0;
    margin: 0 2% ;
}

.drug-more-info-logo{
    height: 100%;
    width: 100%;
}

#reset-button{
    background-color:  rgba(225, 225, 225, 0.4);;
    color: white;
    width: 20%;
    border-radius: 10%;
    margin-top: 4%;
}

.dose-button{
    border-radius: 100%;
    padding: 0;
    height:30px;
    width: 30px;
    background-color: white;
    border: none;
    align-self: flex-start;
    align-content: center;
    justify-content: center;
}

.dose-button img{
    width: 70%;
    height: 70%;
    
}

.add-button{
   margin-top: 2.5%; 
   margin-bottom: 2.5%;
   border: 2px solid;
   border-image-source: linear-gradient(to left, #24c6dc, #514a9d);
   border-image-slice: 1;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
   background-color: white;
   color: #0d5fbd;
   text-align: center;
}


/* MODAL */

.modal{
    display: flex;
    flex-direction: column;
    /* position:relative; */
    padding: 2%;
    background-color: white;
    align-self: center;
    margin-bottom: 4%;
    border-radius: 4%;
    z-index: 200;
    top:0px;
    left:0px;
}

.modal p{
    color: black;
    font-size: 0.9em;
    margin: 2% 0;
}

.modal-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* SEARCH */

#search-form-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 200;
}

#search-form{
    width: 72%;
    height: 30px;
    border: solid rgb(223, 220, 220) 0.1em;
}

#search-results{
    display: flex;
    flex-direction: column;
     width: 73%;
     font-size: 0.7em;
     background: rgb(255, 255, 255);
    
}

#search-result{
    margin: 0;
    height: 25px;
    border: solid rgb(248, 243, 243) 1px
}


/* NOTES */

.notes-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 45%;
    align-items: center;
    justify-content: flex-end;
}

.notes-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.notes-form-container input{ 
    width: 80%;
    border: solid rgb(223, 220, 220) 0.1em;
    margin:10%;
}

.notes-form-container textarea{ 
    width: 100%;
    height: 50vh;
    border: solid rgb(223, 220, 220) 0.1em;
}

.notes-form-container button{ 
    color:white;
    font-weight: 700;
    background: #FF886B;
    border-color: #FF886B;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);  
    padding: 0.7em;
    width: 20em;
    margin-top: 10%;  
}

.note-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 4%;
    padding-left: 4%;
    background-color: rgb(233, 229, 229);
    border-radius: 3%;
    margin: 1%;
}

.note-content{
  font-size: 0.9em;
}

.note-date{
    font-size: 0.7em;
    margin-top: 4%; 
    margin-bottom: 0;
}


/* REPORT */

.report-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
    overflow: scroll;
}

.report-container p{
    align-self: flex-start;
    font-size: 0.8em;
    margin-top: 10%;
}

.score-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.score-container span{
    font-size: 0.9em;
    margin: 3% 0;
}

/* LOADER */

.lds-facebook {
    display: inline-block;
    position: fixed;
    margin-top: 40%;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #94D75B;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  