body{
    height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;;
}

#main-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#landing-container{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#sign-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 60%
}

.sign-button{
    color:white;
    font-weight: 700;
    background: #FF886B;
    border-color: #FF886B;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);  
    padding: 0.7em;
    width: 10em;
    margin-top: 5%;
}

.sign-button a{
    color:white;
    text-decoration: none; 
}

#home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#weather-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 30%;
    background-color: rgb(214, 228, 178);
    color: white
}

.weather-subcontainer{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.weather-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.weather-details h3{
    font-size: 1em;
    margin: 5% 0 5% 0;
}

.weather-details h1{
    font-size: 2.5em;
    margin: 5% 0 5% 0;
}

.weather-details p{
    margin: 5% 0 10% 0;
    font-size: 0.9em;
}

.weather-details p[name='title']{
    margin-bottom: 0;
    font-weight: 800;

}

.air-quality-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2% 0 2% 0;
}

.air-quality-container :first-child{
    text-align: left;
    width: 85%;
}

.air-quality-container p{
    font-size: 0.9em;
    margin: 0;
}

.air-quality-container h1{
    font-size: 1.5em;
    margin: 0;
}

.air-pollutans-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 2% 0 2% 0;
}

.air-pollutans-container p{
    font-size: 0.9em;
    text-align: left;
    width: 100%;
    margin: 0;
}

.air-pollutans-subcontainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
}

.air-pollutans-subcontainer div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.air-pollutans-subcontainer div p{
  text-align: center;
}

.air-pollutans-subcontainer div span{
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 100%;
  }

.span-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.air-pollutants-span{
    background-color: grey;
    border-radius: 40%;
}

.pollen-count-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 5% 0 2% 0;
    padding: 0 30% 0 30%;
}

.pollen-count-container p{
    font-size: 0.9em;
    text-align: left;
    width: 100%;
    margin:  0 0 2% 0;
}

.plant-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.plant-container span{
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 100%;
}

.pollen-count-subcontainer div p{
    margin: 2% 0 2% 0;
}

#nav-bar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#nav-bar{
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:4% 5%;
    z-index: 200;
    top:0;
    left:0;
    z-index: 100
}

.navbar-menu-container{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height:100%;
    width: 50%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index:200
}

.navbar-menu-container a{
    text-decoration: none;
    margin: 8% 0;
    padding: 0 5% ;
    color: black;
}

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    right: 0;
    z-index: 150;
}

#title{
    font-family: lobster;
    font-size: 2em;
    color: #94D75B;
    text-decoration: none;
}

.fa-bars{
    font-size: 2em;
    color: #94D75B;
}

#footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color:#94D75B;
    border-radius: 0%;
    color:white ;
}
 
#footer a{
    flex-grow: 1;
    text-align: center;
    justify-self: center;
}

.footer-icon{
    width: 50%;
    height: 50%;
}
.sign-pages{
    display: flex;
    width: 85%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
}

.sign-form{
    display: flex;
    width: 60%;
    height:100%;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: 300;
    font-size: 0.8em;
}

.sign-form input {
    background: #FFFEFE;
    padding: 3%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-form label {
    margin-top: 7%;
}

/* .button{
    color:white;
    font-weight: 700;
    background: #FF886B;
    border-color: #FF886B;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);  
} */

.sign-form .button[type='submit']{
    color:white;
    font-weight: 700;
    background: #FF886B;
    border-color: #FF886B;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);  
    padding: 0.7em;
    width: 10em;
    margin-top: 10%;   
}

#atc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 80%;
}

#question-container{
    display: flex;
    height: 15vh;
}

#question{
    justify-content: center;
}

#options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-btn{
    color:white;
    font-weight: 700;
    background: #FF886B;
    border-color: #FF886B;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);  
    padding: 0.7em;
    width: 20em;
    margin-top: 10%;   
}

#atc-result-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: flex-end;
    width: 60%;
    padding: 5%;
    color:white;
    background-color: rgb(172, 171, 171);
    border-radius: 5%;
}

.result-title{
    font-size: 1.5em;
    margin-bottom: 0;
}

.result{
    font-size: 0.8em;
}

#my-drugs-container{
    display: flex;
    width: 85%;
    height: 100%;
    flex-direction: column;
    align-items: center;     
}

#drugs-container{
    display:flex;
    width: 85%;
    flex-direction: column;   
}

.drug-type{
    font-size: 0.7em;
    margin-bottom: 0;
}

.drug-container{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    background-color: rgb(233, 229, 229);
    padding: 4%;
}

.drug-info h1{
    font-size: 0.9em;
    margin: 0;
}

.drug-info p{
    font-size: 0.75em;
    margin: 0;
}

.drug-info h3{
    font-size: 0.9em;
    text-align: center;
    margin: 2%
}

.more-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 229, 229);
}

.more-info div{
    display: flex;
    justify-content: flex-end; 
}

.more-info div i{
    color: white
}

.logos-container{
    display: flex;
    justify-items: flex-end;
    align-items: center;
}

.logo{
    width: 8%;
    height: 8%;
    padding: 0;
    margin: 0 2% ;
}

.drug-more-info-logo{
    height: 100%;
    width: 100%;
}

#reset-button{
    background-color: white;
    width: 20%;
    border-radius: 15%;
    margin-top: 2%;
}

.dose-button{
    z-index: 1;
    display:block;
    border-radius: 100%;
    padding: 0;
    height:30px;
    width: 30px;
    background-color: white;
    margin-bottom: ;
}

.add-button{
   margin-top: 2.5%; 
   margin-bottom: 2.5%;
   border: solid grey 0.1em;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
   text-align: center;
}

.modal{
    display: flex;
    flex-direction: column;
    position:fixed;
    padding: 2%;
    background-color: white;
    align-self: center;
    margin-bottom: 4%;
    /* z-index: 200; */
}

.modal p{
 margin: 2% 0
}

.modal-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search-form-container{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#search-form{
    width: 60%;
    height: 30%;
    border: solid rgb(223, 220, 220) 0.1em;
}

#search-results{
     width: 60%;
     font-size: 0.5em;
}

.notes-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
}

.notes-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.notes-form-container input{ 
    width: 80%;
    border: solid rgb(223, 220, 220) 0.1em;
    margin:10%;
}

.notes-form-container textarea{ 
    width: 100%;
    height: 50vh;
    border: solid rgb(223, 220, 220) 0.1em;
}

.notes-form-container button{ 
    color:white;
    font-weight: 700;
    background: #FF886B;
    border-color: #FF886B;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);  
    padding: 0.7em;
    width: 20em;
    margin-top: 10%;  
}

.note-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 4%;
    padding-left: 4%;
    background-color: rgb(233, 229, 229);
    border-radius: 3%;
    margin: 1%;
}

.note-content{
  font-size: 0.9em;
}

.note-date{
    font-size: 0.7em;
    margin-top: 4%; 
    margin-bottom: 0;
}

.report-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
}

.report-container p{
    align-self: flex-start;
    font-size: 0.8em;
}

.score-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.score-container span{
    font-size: 0.8em;
    margin: 3% 0;
}

